# Site wide configuration

title: Tiny House on the Farm
locale: en_US
description: "Building a home, going back to my roots"
logo: site-logo-3.jpg
search: true
url: http://tinyhouseonthefarm.github.io

# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..2
  use_coderay: false

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md", "vendor", "venv"]

comments: true

# Site owner
owner:
  name: Kate Sills
  avatar: kate-bio-photo.jpg
  email: katelynsills+tinyhouseonthefarm@gmail.com
  disqus-shortname: tinyhouseonthefarm
  twitter: katelyn_sills
  facebook: #username
  github: #username
  stackexchange: #http://stackoverflow.com/users/123456/username
  linkedin: #username
  instagram: #username
  flickr: #username
  tumblr: #username
  pinterest: #username
  weibo: #userid
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
